@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

textarea {
	font-weight: 400;
	line-height: 150%;
}

body {
	background-image: url(imagenes/macos-big-sur-2560x1440-dark-wwdc-2020-22655.jpg);
}

main {
	display: flex;
}

.input-texto {
	outline: none;
	resize: none;
	text-align: justify;
	font-style: normal;
	font-size: 32px;
	font-weight: 400;
	line-height: 150%;
	position: absolute;
	display: flex;
	z-index: 5;
	top: 196px;
	left: 172px;
	width: 620px;
	height: 350px;
	background-color: #e3e3e3;
	border-color: #ececec;
	border-width: 40px 30px 100px 30px;
	padding: 50px;
	border-radius: 10px;
}

.mensaje {
	resize: none;
	margin: 10px;
	text-align: justify;
	line-height: 25px;
	font-weight: 400px;
	position: relative;
	z-index: 5;
	top: 30px;
	left: 965px;
	background-image: url("imagenes/casa-completo.png");
	background-repeat: no-repeat;
	background-size: 300px;
	background-position-x: 0px;
	background-position-y: 190px;
	width: 300px;
	height: 695px;
	font-display: none;
	font-size: 15px;
	border-width: 40px 40px 131px 40px;
	border-radius: 10px;
	border-color: #ececec;
	padding: 32 32 131 32;
	background-color: #e3e3e3;
}

#p0 {
	width: 80%;
	text-align: left;
	word-break: break-word;
	margin: 10px auto;
}

.copiar {
	color: white;
	font-weight: bold;
	background-color: #1286ff;
	display: block;
	font-size: 18px;
	line-height: 19.36px;
	position: absolute;
	z-index: 6;
	top: 820px;
	left: 1060px;
	margin: 10px;
	width: 250px;
	height: 45px;
	border-radius: 10px;
	border-color: #1286ff;
	border-width: 1px;
}

.botones label {
	color: black;
	font-size: 11px;
	position: absolute;
	z-index: 9;
	top: 694px;
	left: 230px;
}

.vector {
	position: absolute;
	z-index: 9;
	top: 695px;
	left: 210px;
}

.botones {
	font-weight: bold;
	font-size: 16px;
	line-height: 19.36px;
	display: flex;
	flex-direction: row;
}

.encriptar {
	font-weight: bold;
	border-color: #e3e3e3;
	background-color: #e3e3e3;
	color: black;
	border-radius: 10px;
	width: 200px;
	height: 40px;
	position: absolute;
	z-index: 6;
	top: 720px;
	left: 460px;
}

.desencriptar {
	font-weight: bold;
	border-color: #1286ff;
	border-width: 1px;
	background-color: #1286ff;
	color: white;
	border-radius: 10px;
	width: 200px;
	height: 40px;
	position: absolute;
	z-index: 6;
	top: 720px;
	left: 700px;
}

.logo {
	zoom: 15%;
	position: absolute;
	top: 150px;
	left: 200px;
}

.barra {
	zoom: 65%;
	position: absolute;
	z-index: 10;
	top: 245px;
	left: 265px;
	border-style: solid;
	border-width: 0px -10px -10px 0px;
	border-color: #bfbfbf;
	border-radius: 5px;
}

.informacion {
	font-size: 15px;
}

footer {
	text-align: center;
	position: relative;
	z-index: 20;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 3em;
	padding: 2em 0;
	filter: drop-shadow(-20px 0 20px rgba(0, 0, 0, 0.5));
}

footer .fp2 {
	display: none;
}

footer .fp {
	font-size: 15pt;
	margin-top: 3px;
	color: rgba(255, 255, 255, 0.6);
	font-style: italic;
}

footer h3 {
	font-family: "Poppins";
	font-size: 17pt;
	font-weight: bold;
	margin-top: 5px;
}

.redes-sociais {
	margin-top: 10px;
}

.txtm {
	display: none;
}

@media screen and (max-width: 1300px) {
	body {
		background-image: url(imagenes/responsive.jpg);
		background-size: 180%;
	}
	.mensaje {
		margin: 10px 10px 100px 100px;
		position: relative;
		z-index: 5;
		top: 850px;
		left: -45px;
		background-image: url("imagenes/casa-completo.png");
		background-size: 250px;
		background-position-x: 230px;
		background-position-y: 0px;
		width: 690px;
		height: 400px;
	}

	.input-texto {
		position: absolute;
		display: flex;
		z-index: 5;
		top: 196px;
		left: 65px;
		width: 620px;
		height: 350px;
	}

	.encriptar {
		position: absolute;
		z-index: 6;
		top: 720px;
		left: 200px;
	}

	.desencriptar {
		position: absolute;
		z-index: 6;
		top: 720px;
		left: 500px;
	}

	.barra {
		zoom: 65%;
		position: absolute;
		z-index: 10;
		top: 245px;
		left: 100px;
	}

	.copiar {
		position: absolute;
		z-index: 6;
		top: 1330px;
		left: 320px;
	}

	.botones label {
		position: absolute;
		z-index: 9;
		top: 694px;
		left: 120px;
	}

	.vector {
		position: absolute;
		z-index: 9;
		top: 695px;
		left: 100px;
	}

	main {
		display: block;
		margin-left: 0px;
		margin-right: 0px;
	}

	footer {
		display: flex;
		z-index: 20;
		top: 800px;
		left: 40px;
	}

	.txtm {
		display: block;
		position: absolute;
		z-index: -1;
		top: 0px;
		left: -40px;
		background-color: black;
		resize: none;
		border-color: black;
		border-width: 100px 864.5px 35px 0px;
	}
}

@media screen and (max-width: 550px) {
	body {
		background-image: url(imagenes/responsive.jpg);
		background-size: 260%;
	}
	.mensaje {
		margin: 10px 10px 450px 100px;
		position: relative;
		z-index: 5;
		top: 1160px;
		left: -37px;
		background-image: url("imagenes/casa-completo.png");
		background-size: 250px;
		background-position-x: 70px;
		background-position-y: 90px;
		width: 375px;
		height: 600px;
	}

	.input-texto {
		position: absolute;
		display: flex;
		z-index: 5;
		top: 196px;
		left: 65px;
		width: 300px;
		height: 600px;
		border-width: 40px 30px 200px 30px;
	}

	.encriptar {
		position: absolute;
		z-index: 6;
		top: 990px;
		left: 190px;
	}

	.desencriptar {
		position: absolute;
		z-index: 6;
		top: 1050px;
		left: 190px;
	}

	.barra {
		zoom: 38.5%;
		position: absolute;
		z-index: 10;
		top: 455px;
		left: 169px;
	}

	.copiar {
		position: absolute;
		z-index: 6;
		top: 1860px;
		left: 165px;
	}

	.botones label {
		color: black;
		font-size: 11px;
		position: absolute;
		z-index: 9;
		top: 948px;
		left: 200px;
	}

	.vector {
		position: absolute;
		z-index: 9;
		top: 950px;
		left: 180px;
	}

	footer {
		display: flex;
		z-index: 20;
		top: 908px;
		left: 90px;
	}

	.txtm {
		display: block;
		position: absolute;
		z-index: -1;
		top: 0px;
		left: -100px;
		background-color: black;
		resize: none;
		border-color: black;
		border-width: 100px 250px 100px 330px;
	}
}
